---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React",
    class: "bg-blue-600 text-white",
    icon: Tailwind, // Assuming you have a React icon component
  },
}
const PROJECTS = [
  {
    title: "CoinGecko - Hecho con React y tailwind CSS",
    description:
      "Este proyecto está diseñado para explorar el mundo de las criptomonedas, ofreciendo una experiencia intuitiva y visualmente atractiva para consultar las 50 principales criptomonedas. Además, los usuarios pueden acceder a información detallada de cada moneda al hacer clic en su tarjeta.",
    link: "https://coingecko-react-tailwindcss-crypto.vercel.app/",
    github: "https://github.com/Gabriela-contreras/coingecko-react-tailwindcss-Crypto",
    image: "/projects/coin.jpg",
    // tags: [ TAGS.TAILWIND],
  },
  {
    title: "Psicotecnicos ",
    description: "Plataforma de Evaluaciones Psicotécnicas con IA Participé en el desarrollo de una solución web paraevaluaciones psicotécnicas, destinada a una empresa proveedora de servicios a clientes como Galicia y Tenaris. Me encargué de gran parte del desarrollo frontend, colaboré en el diseño de interfaces con Figma y realicé ajustes menores en backend.",
    link: "https://psicotecnicos-front-jic5.vercel.app/home",
    image: "/projects/psicotecnicos.png",
    // tags: [ TAGS.TAILWIND],
  },
  //   {
  //   title: "Vida Marina -  Next , React , JavaScript , Tailwind CSS",
  //   description:
  //     "Este es un proyecto web dedicado a la vida marina, diseñado con un enfoque en la experiencia de usuario y el rendimiento.Desarrollado con tecnologías modernas como Next.js, React, TailwindCSS y HeroUI,",
  //   link: "https://vida-marina-next-js.vercel.app/",
  //   github: "https://github.com/Gabriela-contreras/VidaMarina_Next.js",
  //   image: "/projects/vidaMarina.png",
  //   // tags: [ TAGS.TAILWIND],
  // },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Imagen del proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {/* {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))} */}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



